.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
notebooks
docs
data/02_intermediate
data/03_primary
data/04_feature
data/05_model_input
data/06_models
data/07_model_output
data/08_reporting
mlruns
mlartifacts
logs
*.ipynb
.DS_Store
